@using System.Collections.Generic
@using System.Collections
@using System
@using Piccolo.Feature.Navigation.Models
@model IEnumerable<MenuItem>

<div class="navbar hidden-phone">
    <ul class="nav">
        @foreach (var item in Model)
{
    <li class='dropdown @if (item.IsActive)
                        {
                            @("active")
                        }'>
        <a class="dropdown-toggle" data-toggle="dropdown" href=@item.Url>@Html.Sitecore().Field("Menu Title", item.Item)
           @if (item.HasChildrenToShowInMenu && item.ShowChildrenInMenu)
           {
               <b class="caret"></b>
           }</a>
       @if (item.HasChildrenToShowInMenu && item.ShowChildrenInMenu)
       {
           <ul class="dropdown-menu">
               @foreach (var subItem in item.ChildrenInCurrentLanguage)
               {
                    <li><a href=@subItem.Url>@Html.Sitecore().Field("Menu Title", subItem.Item)</a></li>
               }
           </ul>
       }
</li>
}

        </ul>

</div>