@using Glass.Mapper.Sc
@using Glass.Mapper.Sc.Web.Mvc
@model Piccolo.Feature.Media.Models.CarouselViewModel
    @{
    Layout = null;
}

<div class="flexslider">
    <ul class="slides">
@foreach (var carouselSlide in Model.CarouselSlides)
{
    <li><a href="gallery-single.htm"> @Html.Glass().RenderImage(@carouselSlide,k=>k.Image)</a></li>
}
       
     

    </ul>
</div>
